name: 1. Restore, Build, & Test

on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]

jobs:
  restore-build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4